{% load staticfiles %}
{% load thumbnail %}
{% load bbcode %}

<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" http-equiv="Content-Type" content="text/html"/>
  	<meta name="viewport" content="width=device-width" />
    <meta name="robot" content="index, follow"/>
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}"/>
  	<title>BestofDeals - {% block title %}Best Deals, Offers & Coupons{% endblock title %}</title>
	<link rel="stylesheet" href="{% static "css/app.css"  %}">
  	<link rel="stylesheet" href="{% static "css/normalize.css" %}">
  	<link rel="stylesheet" href="{% static "css/foundation.css" %}">
  	<link rel="stylesheet" href="{% static "css/style.css" %}"/>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
  	<script type="text/javascript" src="{% static "js/vendor/custom.modernizr.js" %}"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  	<script type="text/javascript" src="{% static "js/app.js" %}"></script>
    {% block head %}{% endblock head %}
</head>


<body>

<!-- Page Header  with Login Bar-->

<div class="bg-color-three" id="top-nav-wrap">
    <div class="row">
        <div class="large-2 columns">
        </div>
        <div class="large-7 columns">
            <div class="row">
                <nav id="main-nav">
                    <ul>
                        {% block top_nav %}
                            <li><a href="{% url 'deals:alllist' %}" class="inactive f-size-14">HOME</a></li>
                            <li><a href="{% url 'about' %}" class="bg-color-six active f-size-14">ABOUT</a></li>
                            <li><a href="{% url 'blog:index' %}" class="bg-color-six active f-size-14">BLOG</a></li>
                            <li><a href="{% url 'help' %}" class="bg-color-six active f-size-14">HELP</a></li>
                            <li><a href="{% url 'feedback' %}" class="bg-color-six active f-size-14">FEEDBACK</a></li>
                        {% endblock top_nav %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="large-3 columns">
            <ul id="login-bar" class="right">
                {% if not params.user.is_authenticated %}
                <li id="login">
                    <a id="login-trigger" class="f-size-16">Login<span id="login-arrow" class="small-down-arrow"></span>
                    </a>
                    <div id="login-content">
                        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
                            <label for="username">Username : </label>
                            <input id="username" type="text" name="username" placeholder="Your email address" required>
                            <label for="password">Password : </label>
                            <input id="password" type="password" name="password" placeholder="Password" required>
                            <label for="rememberme"><input type="checkbox" checked="checked" name="rememberme"> Keep me signed in</label>
                            <input type="submit" id="submit" value="Log in" class="small button">
                      </form>
                    </div>
                </li>
                <li><a id="signup" href="{% url 'register' %}" class="f-size-16">Register</a></li>
                {% else %}
                    <ul id="user-logged-in">
                        <li><a class="login-bar-account-menu f-size-16" href="{% url 'userdetails' %}/{{ params.user.username }}">My Profile</a></li>
                        <li><a class="login-bar-account-menu f-size-16" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container bg-color-five">
    <div class="row bg-color-white" id="detail-doc-wrap">
        <!-- Nav & Search Bar-->
        {% block nav_search %}
            <div class="row" id="nav-search">
                {% block nav_left %}
                <div class=" large-6 columns">
                    <nav class="top-bar" id="topics">
                        <section class="top-bar-section">
                            <ul id="topics-nav" class="left">
                                <li class="has-dropdown">
                                    <a >
                                    {{ params.category|title }}
                                    </a>
                                    <ul class="dropdown">
                                        {% block topics %}
                                            {% for cat in params.categories %}
                                                {% if params.category|lower != 'all topics' and forloop.first %}
                                                    <li>
                                                    <a href="{% url 'deals:alllist' %}{% if sort %}all/{{ sort }}{% endif %}" {% if forloop.first %}class="first" {% endif %}>All Topics</a></li>
                                                    </li>
                                                {% elif cat.1 != category %}
                                                    <li>
                                                        <a href="{% url 'deals:alllist' %}{{ cat.1|lower }}/{% if sort %}{{ sort }}{% endif %}" {% if forloop.first %}class="first" {% endif %}>{{ cat.1 }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endblock topics %}
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </nav>
                </div>
                <div class="large-3 columns" id="sort-bar">
                    <span>Sort By : </span>
                    <select id="sorting">
                        <option value="date" {% if params.sort|lower == 'date' %}selected="selected"{% endif %}>Posted Date</option>
                        <option value="hot" {% if params.sort|lower == 'hot' %}selected="selected"{% endif %}>Hotness</option>
                        <option value="discussed" {% if params.sort|lower == 'discussed' %}selected="selected"{% endif %}>Most Commented</option>
                    </select>
                </div>
                {% endblock nav_left %}
                {% block nav_right %}
                <div class="large-3 columns">
                    <form id="search-form">
                        <div class="row collpase">
                            <div class="large-12 columns" id="search-row">
                                <input type="search" name="search" placeholder="Search for posts ..." id="main-search" />
                                <input type="submit" value="GO" id="main-search-submit"/>
                            </div>
                        </div>
                    </form>
                </div>
                {% endblock nav_right %}
            </div>
        {% endblock nav_search %}
    <!-- Main content -->

        <!-- Content -->
        <div class="row" id="content-sidebar">
            {% block main_content %}
            <div class="large-9 columns" id="content">
            </div>
            {% endblock main_content %}
        <!-- Side Bar -->
            {% block sidebar %}
                <div class="large-3 columns hide-for-medium-down" id="sidebar">
                <!-- Share a deal Link-->
                {% block sidebar_submit %}
                <div class="row">
                    <div class="panel" id="submit-button">
                        <span class="large-icon" data-icon="&#xe06a;"></span><span class="submit-text">Have an hot deal to share ? </span>
                        <a  title="Share a Deal with BOD Community" href="{% url 'submit' %}">Share a Deal</a>
                    </div>
                </div>
                {% endblock sidebar_submit %}
                <div class="row small-empty"></div>
                {% block sidebar_snapshot %}
                <div class="row">
                    <div class="large-12 columns" id="snapshot">
                        <div id="snapshot-header">
                            <span class="large-icon color-orange" data-icon="&#xe028;"></span>
                            <h5>Hottest Today</h5>
                        </div>
                        <div class="row" id="snapshot-title-bar">
                            <span class="snapshot-title bg-color-three first selected" id="snapshot-title-1">TODAY</span>
                            <span class="snapshot-title bg-color-three" id="snapshot-title-2">WEEK</span>
                            <span class="snapshot-title bg-color-three" id="snapshot-title-3">MONTH</span>
                            <span class="snapshot-title bg-color-three last" id="snapshot-title-4">ALL</span>
                        </div>
                        <div class="row">
                            <table id="snapshot-table-1" class="snapshot-table visible-table">
                                <tbody>
                                {% for data in params.sidebar.hottoday %}
                                    <tr><td><span class="snapshot-temp">{{ data.temperature }} &deg;</span><a href="{% url 'deals:alllist' %}view/{{ data.identity }}">{{ data.title }}</a></td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table id="snapshot-table-2" class="snapshot-table">
                                <tbody>
                                {% for data in params.sidebar.hotweekly %}
                                    <tr><td><span class="snapshot-temp">{{ data.temperature }} &deg;</span><a href="{% url 'deals:alllist' %}view/{{ data.identity }}">{{ data.title }}</a></td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table id="snapshot-table-3" class="snapshot-table">
                                <tbody>
                                {% for data in params.sidebar.hotmonthly %}
                                    <tr><td><span class="snapshot-temp">{{ data.temperature }} &deg;</span><a href="{% url 'deals:alllist' %}view/{{ data.identity }}">{{ data.title }}</a></td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <table id="snapshot-table-4" class="snapshot-table">
                                <tbody>
                                {% for data in params.sidebar.hotalltime %}
                                    <tr><td><span class="snapshot-temp">{{ data.temperature }} &deg;</span><a href="{% url 'deals:alllist' %}view/{{ data.identity }}">{{ data.title }}</a></td></tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endblock sidebar_snapshot %}
            </div>
            {% endblock sidebar %}
        </div>
    </div>
</div>
<!-- Footer -->
{% block footer %}
<div class="row" id="footer">
    <div id="footer-wrap">
        <div class="large-3 columns footer-row">
            <h5>STATS</h5>
            <p><span class="footer-content-title">USERS ONLINE           </span><span class="footer-content-value"> : &nbsp;&nbsp;{{ params.footer.users_online }}</span></p>
            <p><span class="footer-content-title">REGISTERED USERS </span><span class="footer-content-value"> : &nbsp;&nbsp;{{ params.footer.total_reg_users }} </span></p>
            <p><span class="footer-content-title">MAX USERS ONLINE </span><span class="footer-content-value"> : &nbsp;&nbsp;{{ params.footer.max_users_online }}</span></p>
            <p><span class="footer-content-title">TOTAL POSTS</span><span class="footer-content-value"> : &nbsp;&nbsp;{{ params.footer.total_posts }}</span></p>
        </div>
        <div class="large-9 columns footer-row">
            <h5>ABOUT BOD</h5>
            <p>BOD - Is a community for sharing deals with the comunity. With rising Internet Portals in India, we felt trusted place to e-share deals is required and that's how BOD
                    was born. BOD is not a regular site where admins promote deals, this is a site driven by community. If you feel price of a product is lower at some place and could benefit others
                    come here and share it. So others like you can get benefited.
            </p>
        </div>
    </div>
</div>
{% endblock footer %}

<div id="overlay"></div>
<div id="message_box">
    <span id="close_box" class="centered">Click this box or press escape to close this window</span>
    <p id="message_box_msg"></p>
</div>



<script>
	  document.write('<script src=' +
	  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
	  '.js><\/script>')
	  </script>

  <script src="js/foundation.min.js"></script>

</body>

</html>