{% extends 'deals/base.html' %}
{% load static %}
{% load bbcode %}
{% load thumbnail %}

{% block title %}
    {{ deal.title }}
{% endblock title %}

{% block head %}
    <!-- markItUp! -->
    <script type="text/javascript" src="{% static "deals/markitup/jquery.markitup.js" %}"></script>
    <!-- markItUp! toolbar settings -->
    <script type="text/javascript" src="{% static "deals/markitup/sets/default/set.js" %}"></script>
    <!-- markItUp! skin -->
    <link rel="stylesheet" type="text/css" href="{% static "deals/markitup/skins/simple/style.css" %}" />
    <!--  markItUp! toolbar skin -->
    <link rel="stylesheet" type="text/css" href="{% static "deals/markitup/sets/default/style.css"%}" />
{% endblock head %}

{% block nav_search %}
    <!-- Nav & Search Bar-->
    <div class="row" id="nav-search">
        <div class=" large-5 columns">
            <ul class="breadcrumbs">
              <li><a href="{% url 'index' %}">HOME</a></li>
              <li><a href="{% url 'deals:alllist' %}">DEALS</a></li>
              <li><a href="{% url 'deals:alllist' %}{{ category|lower }}">{{ category|upper }}</a></li>
              <li class="current"><a>{{ deal.title }}</a></li>
            </ul>
        </div>
        <div class="large-3 large-offset-4 columns">
            <form id="search-form">
                <div class="row collpase">
                    <div class="large-12 columns" id="search-row">
                        <input type="search" placeholder="Search for posts ..." id="main-search" />
                        <input type="submit" value="GO" id="main-search-submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock nav_search %}
{% block main_content %}
<div class="row" id="post-detail">
    <!-- Content -->
    <div class="row f-size-d85em" id="content-sidebar">
        <div class="large-12 columns content" id="content">
            <!-- individual content -->
            <div class="row main-content">
                <!-- Side Vote  -->
                <div class="large-1 columns content-left" id="id_deal_{{ deal.id }}">
                    <a title="Vote this deal hot !" class="{% if params.user.is_authenticated %}enabled{% else %}disabled{% endif %}"><span class="large-up-arrow cur-pointer vote"></span></a>
                    <span class="hotness color-two degree" {% if deal.temperature < 10 %}style="left: -5px;"{% endif %}>{{ deal.temperature }}&deg;</span>
                    <a title="Vote this deal cold !" class="{% if params.user.is_authenticated %}enabled{% else %}disabled{% endif %}"><span class="large-down-arrow cur-pointer vote"></span></a>
                </div>
                <!-- Content description -->
                <div class="large-9 columns content-middle details">
                    <div class="row" id="post-detail">
                        <h5><a title="{{ deal.title }}" class="content-heading cur-pointer">{{ deal.title }}</a></h5>
                        <p class="sub-header">
                        </p>
                        <p id="post-content">
                            {{ deal.description }}
                        </p>
                    </div>
                    <div class="row" id="detail-post-footer">
                        <a onclick="$('#markItUp').focus()">POST A COMMENT</a>
                        <a class="post-quote quote-reply">QUOTE</a>
                        <a><span class="small-icon" data-icon="&#xe06a;"></span>Share</a>
                        <p class="sub-footer">
                            <span class="title">Shared : </span><a class="left" id="post-detail-user" href="{% url 'userdetails' %}/{{ deal.user.username }}" title="View User {{ deal.user.username }}'s profile">{{ deal.user.username }}</a>
                            <Span> | {{ deal.date_time|fuzzy_date }}</Span>
                            <span class="title"> | Made hot: </span><span>{{ deal.last_made_hot|fuzzy_date }}</span>
                        </p>
                    </div>
                </div>
                <!-- Content side bar -->
                <div class="large-2 columns sidebar-thumb details">
                    <a class="th radius" href="">
                        {% if deal.image_url %}
                            {% thumbnail deal.image_url "120x80" crop="center" as im %}
                                <img src="{{ im.url }}" >
                            {% endthumbnail %}
                        {% endif %}
                    </a>
                    <a class="button deal-link">VISIT DEAL</a>
                </div>
            </div>
            <div class="small-empty"></div>
        </div>
    </div>
</div>
<div class="row" id="comments">
    <!-- Top  Comments  -->
    {% if topcomments.0.topcomms %}
    <div class="row" id="top-comments">
        <div class="panel">
            <div class="left">
                <header>Top Comments</header>
            </div>
            <div class="comments-nav right hide-for-medium-down">
                <!--  Page Nav for comments -->
                <div class="comments-page-wrap">
                    <span class="title">PAGE:</span>
                    <a class="bg-color-yellow pagenav-link {% if not comment_pagination.prev %}inactive"{% else %}active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ comment_pagination.prev.0 }}"{% endif %}>&lt;</a>
                    <a class="bg-color-yellow active comments-page-trigger">{{ params.commentspage }}<span class="tiny-down-arrow"></span></a>
                    <ul class="right comments-page">
                    {% for pageno in comment_pagination.prev reversed  %}
                        <li><a class="bg-color-yellow active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ pageno }}">{{ pageno }}</a></li>
                    {% endfor %}
                    <li><a class="bg-color-yellow active current" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ params.commentspage }}">{{ params.commentspage }}</a></li>
                    {% for pageno in comment_pagination.next %}
                        <li><a class="bg-color-yellow active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ pageno }}">{{ pageno }}</a></li>
                    {% endfor %}
                    </ul>
                    <a class="bg-color-yellow pagenav-link {% if not comment_pagination.next %}inactive"{% else %}active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ comment_pagination.next.0 }}"{% endif %}">&gt;</a>
                </div>
                <!-- Comments per page -->
                <div class="comments-pp-wrap">
                    <span class="title">COMMENTS/PAGE</span>
                    <a class="bg-color-yellow comments-pp-trigger">{{ params.comments_per_page }}<span class="tiny-down-arrow"></span></a>
                    <ul class="right comments-pp">
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=10" class="bg-color-yellow">10</a></li>
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=40" class="bg-color-yellow">40</a></li>
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=60" class="bg-color-yellow">60</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  Individual Comments -->
        {% for comment in topcomments %}
        <div class="row comment" id="comment-{{ comment.id }}">
            <!-- Side bar with user avatar and batches if any -->
            <div class="large-1 columns comment-left">
                <div class="row">
                    <!--  User's Avatar -->
                    <div class="small-avatar-holder large-12 columns">
                    </div>
                    <!--  User's batches if any -->
                    <div class="large-12 columns">
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- comment box  -->
            <div class="large-11 columns">
                <div class="row comment-right">
                    <!--  Comment Header -->
                    <div class="comment-header row">
                        <div class="left">
                            <a href="{% url 'userdetails' %}/{{ comment.user }}" class="bold italic">{{ comment.user }}</a>
                            , <span ></span><span class="greyish details">{{ comment.date_time }}</span>
                        </div>
                        <div class="right">
                            <a class="enabled like" id="comment-like-{{ comment.id }}" title="Like this Comment" data-icon="&#xe034;"></a>
                            <a class="enabled unlike" id="comment-unlike-{{ comment.id }}" title="Unlike this Comment" data-icon="&#xe035;"></a>
                            <a class="likes">{{ comment.likes }}</a>
                            <a class="quote-reply">REPLY</a>
                            <a href="">#1</a>
                        </div>
                    </div>
                    <!--  Actual Comment -->
                    <div class="comment-detail row">{{ comment.comment|bbcode }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="">

        </div>
    </div>
    {% endif %}
    <!--  All Comments -->
    <div class="row" id="all-comments">
        <div class="panel">
            <div class="left">
                <header>All Comments</header>
            </div>
            {% if not topcomments.0.topcomms %}
            <div class="comments-nav right hide-for-medium-down">
                <!--  Page Nav for comments -->
                <div class="comments-page-wrap">
                    <span class="title">PAGE:</span>
                    <a class="bg-color-yellow pagenav-link {% if not comment_pagination.prev %}inactive"{% else %}active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ comment_pagination.next.0 }}"{% endif %}>&lt;</a>
                    <a class="bg-color-yellow active comments-page-trigger">{{ params.commentspage }}<span class="tiny-down-arrow"></span></a>
                    <ul class="right comments-page">
                    {% for pageno in comment_pagination.prev reversed  %}
                        <li><a class="bg-color-yellow active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ pageno }}">{{ pageno }}</a></li>
                    {% endfor %}
                    <li><a class="bg-color-yellow active current" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ params.commentspage }}">{{ params.commentspage }}</a></li>
                    {% for pageno in comment_pagination.next %}
                        <li><a class="bg-color-yellow active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ pageno }}">{{ pageno }}</a></li>
                    {% endfor %}
                    </ul>
                    <a class="bg-color-yellow pagenav-link {% if not comment_pagination.next %}inactive"{% else %}active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ comment_pagination.next.0 }}"{% endif %}">&gt;</a>
                </div>
                <!-- Comments per page -->
                <div class="comments-pp-wrap">
                    <span class="title">COMMENTS/PAGE</span>
                    <a class="bg-color-yellow comments-pp-trigger">{{ params.comments_per_page }}<span class="tiny-down-arrow"></span></a>
                    <ul class="right comments-pp">
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=10" class="bg-color-yellow">10</a></li>
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=40" class="bg-color-yellow">40</a></li>
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=60" class="bg-color-yellow">60</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <!--  Individual Comments -->
                <!--  Individual Comments -->
        {% for comment in comments %}
        <div class="row comment" id="comment-{{ comment.id }}">
            <!-- Side bar with user avatar and batches if any -->
            <div class="large-1 columns comment-left">
                <div class="row">
                    <!--  User's Avatar -->
                    <div class="small-avatar-holder large-12 columns">
                    </div>
                    <!--  User's batches if any -->
                    <div class="large-12 columns">
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- comment box  -->
            <div class="large-11 columns">
                <div class="row comment-right">
                    <!--  Comment Header -->
                    <div class="comment-header row">
                        <div class="left">
                            <a href="{% url 'userdetails' %}/{{ comment.user }}" class="bold italic">{{ comment.user }}</a>
                            , <span ></span><span class="greyish details">{{ comment.date_time }}</span>
                        </div>
                        <div class="right">
                            <a class="enabled like" id="comment-like-{{ comment.id }}" title="Like this Comment" data-icon="&#xe034;"></a>
                            <a class="enabled unlike" id="comment-unlike-{{ comment.id }}" title="Unlike this Comment" data-icon="&#xe035;"></a>
                            <a class="likes">{{ comment.likes }}</a>
                            <a class="quote-reply">REPLY</a>
                            <a href="">#{{ params.commentspage|comment_num:params.comments_per_page|add:forloop.counter }}</a>
                        </div>
                    </div>
                    <!--  Actual Comment -->
                    <div class="comment-detail row">{% autoescape off %}{{ comment.comment|bbcode }}{% endautoescape %}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="bottom-nav">
        <div class="panel">
            <div class="comments-nav right hide-for-medium-down">
                <!--  Page Nav for comments -->
                <div class="comments-page-wrap">
                    <span class="title">PAGE:</span>
                    <a class="bg-color-yellow pagenav-link {% if not comment_pagination.prev %}inactive"{% else %}active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ comment_pagination.prev.0 }}"{% endif %}>&lt;</a>
                    <a class="bg-color-yellow active comments-page-trigger">{{ params.commentspage }}<span class="tiny-down-arrow"></span></a>
                    <ul class="right comments-page">
                    {% for pageno in comment_pagination.prev reversed  %}
                        <li><a class="bg-color-yellow active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ pageno }}">{{ pageno }}</a></li>
                    {% endfor %}
                    <li><a class="bg-color-yellow active current" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ params.commentspage }}">{{ params.commentspage }}</a></li>
                    {% for pageno in comment_pagination.next %}
                        <li><a class="bg-color-yellow active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ pageno }}">{{ pageno }}</a></li>
                    {% endfor %}
                    </ul>
                    <a class="bg-color-yellow pagenav-link {% if not comment_pagination.next %}inactive"{% else %}active" href="{{ params.path_with_query|get_query_string:'cpage' }}={{ comment_pagination.next.0 }}"{% endif %}">&gt;</a>
                </div>
                <!-- Comments per page -->
                <div class="comments-pp-wrap">
                    <span class="title">COMMENTS/PAGE</span>
                    <a class="bg-color-yellow comments-pp-trigger">{{ params.comments_per_page }}<span class="tiny-down-arrow"></span></a>
                    <ul class="right comments-pp">
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=10" class="bg-color-yellow">10</a></li>
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=40" class="bg-color-yellow">40</a></li>
                        <li><a href="{{ params.path_with_query|get_query_string:'cpp' }}=60" class="bg-color-yellow">60</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Editor -->

<div class="row" id="editor">
    <div id="editor-wrap">
        <h5 class="invisible" id="post_comment_msg"></h5>
        <form method="POST" action="/postcomment" id="post_comment_form">{% csrf_token %}
        {% if not params.user.is_authenticated %}
        <label for="post_email">Email   :</label><input type="email" name="email" id="post_email"/>
        <label for="post_username" class="invisible">User Name :</label><input type="text" name="username" class="invisible force" id="post_username"/>
        {% endif %}
        <input type="hidden" value="{{ deal.id }}" id="post_id" />
        <input type="hidden" value="deal" id="post_type" name="post_type"/>
        <label for="markItUp">Comment :</label>
        <textarea id="markItUp" name="markItUp" cols="80" rows="20"></textarea>
        <input type="submit" value="POST COMMENT" class="enabled" id="post_comment" name="post_comment"/>
        </form>
    </div>
</div>
</div>
{% endblock main_content %}

{% block sidebar %}
{% endblock sidebar %}
