{% extends 'deals/base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load bbcode %}

{% block title %}Best Deals, Offers & Coupons{% endblock title %}

{% block main_content %}
    <div class="large-9 columns" id="content">
        <!-- individual content -->
        {% for deal in deals %}
        <div class="row main-content">
            <!-- Side Vote  -->
            <div class="large-1 columns content-left" id="id_deal_{{ deal.id }}">
                <a title="Vote this deal hot !" class="{% if params.user.is_authenticated %}enabled{% else %}disabled{% endif %}"><span class="large-up-arrow cur-pointer vote"></span></a>
                <span class="hotness color-two degree" {% if deal.temperature < 10 %}style="left: 5px;"{% endif %}>{{ deal.temperature }}&deg;</span>
                <a title="Vote this deal cold !" class="{% if params.user.is_authenticated %}enabled{% else %}disabled{% endif %}"><span class="large-down-arrow cur-pointer vote"></span></a>
            </div>
            <!-- Content description -->
            <div class="large-9 columns content-middle">
                <h5><a title="{{ deal.title|title }}" href="/deals/view/{{ deal.identity }}" class="content-heading cur-pointer">{{ deal.title|title }}</a></h5>
                <p class="sub-header">
                </p>
                <p class="description">{{ deal.description|truncatewords_html:38 }}</p>
                <p class="sub-footer">
                    <span class="title">Shared : </span><a href="{% url 'userdetails' %}/{{ deal.user.username }}" title="View User {{ deal.user.username }}'s profile">{{ deal.user.username }}</a>
                    <Span> | {{ deal.date_time|fuzzy_date }}</Span>
                    <span class="title"> | Made hot: </span><span>{{ deal.last_made_hot|fuzzy_date }}</span>
                    {% if deal.commentcount%}<span class="title">, Comments : </span><a href="/deals/view/{{ deal.identity }}#comments" title="View Comments">{{ deal.commentcount }} comments</a>{% endif %}
                </p>
            </div>
            <!-- Content side bar -->
            <div class="large-2 columns sidebar-thumb">
                <a class="th radius" href="">
                    {% if deal.image_url %}
                        {% thumbnail deal.image_url "120x80" crop="center" as im %}
                            <img src="{{ im.url }}" >
                        {% endthumbnail %}
                    {% endif %}
                </a>
                <a class="button deal-link" href="{% url 'deals:visit' %}?deal={{ deal.id }}">VISIT DEAL</a>
            </div>
        </div>
        {% endfor %}
        {% if params.totitems > params.items_per_page %}
        <div class="pagination-centered">
          <ul class="pagination">
                <li class="arrow {% if not pagination.prev %}unavailable"><a>&laquo;</a></li>{% else %}"><a href="?page={{ pagination.prev.0 }}">&laquo;</a></li>{% endif %}
            {% for pageno in pagination.before_ellips reversed %}
                <li><a href="{{ params.fullpath }}?page={{ pageno }}">{{ pageno }}</a></li>
            {% endfor %}
            {% if pagination.leftellips %}
                <li class="unavailable"><a>&hellip;</a></li>
            {% endif %}
            {% for pageno in pagination.prev reversed  %}
                <li><a href="{{ params.fullpath }}?page={{ pageno }}">{{ pageno }}</a></li>
            {% endfor %}
            <li class="current"><a>{{ params.page }}</a></li>

            {% for pageno in pagination.next %}
                <li><a href="{{ params.fullpath }}?page={{ pageno }}">{{ pageno }}</a></li>
            {% endfor %}
            {% if pagination.rightellips %}
                <li class="unavailable"><a>&hellip;</a></li>
            {% endif %}
            {% for pageno in pagination.after_ellips  %}
                <li><a href="{{ params.fullpath }}?page={{ pageno }}">{{ pageno }}</a></li>
            {% endfor %}
            <li class="arrow {% if not pagination.next %}unavailable"><a>&raquo;</a></li>{% else %}"><a href="?page={{ pagination.next.0 }}">&raquo;</a></li>{% endif %}
          </ul>
        </div>
        {% endif %}
        <div class="large-empty"></div>
    </div>
{% endblock main_content%}
