{% extends 'deals/base.html' %}
{% block main_content %}
    <div class="large-12 columns" id="content">
        <div id="submit_form_wrap" class="login_reg_form">
            {% if message %}<h5 class="header_message">{{ message }}</h5>{% endif %}
            <form enctype="multipart/form-data" action="/submit" method="POST" id="submit_form">
                {% csrf_token %}
                <div class="error_wrap">
                    {% for key,msg in form.errors.items %}
                        <p>{{ key }} {{ msg.as_text }}</p>
                    {% endfor %}
                </div>
                <div id="submit_form_left">
                    <label for="{{ form.deal_type.auto_id }}">{{ form.deal_type.label }}{% if form.deal_type.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.deal_type }}
                    {% if form.deal_type.field.help_text %} <span class="help" id="{{ form.deal_type.auto_id }}_help">{{ form.deal_type.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.category.auto_id }}">{{ form.category.label }}{% if form.category.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.category }}
                    {% if form.category.field.help_text %} <span class="help" id="{{ form.category.auto_id }}_help">{{ form.category.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.price.auto_id }}">{{ form.price.label }}{% if form.price.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.price }}
                    {% if form.price.field.help_text %} <span class="help" id="{{ form.price.auto_id }}_help">{{ form.price.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.title.auto_id }}">{{ form.title.label }}{% if form.title.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.title }}
                    {% if form.title.field.help_text %} <span class="help" id="{{ form.title.auto_id }}_help">{{ form.title.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.url.auto_id }}">{{ form.url.label }}{% if form.url.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.url }}
                    {% if form.url.field.help_text %} <span class="help" id="{{ form.url.auto_id }}_help">{{ form.url.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.description.auto_id }}">{{ form.description.label }}{% if form.description.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.description }}
                    {% if form.description.field.help_text %} <span class="help" id="{{ form.description.auto_id }}_help">{{ form.description.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    {% if not params.user.is_authenticated %}
                    <label for="{{ form.email.auto_id }}">{{ form.email.label }}{% if form.email.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.email }}
                    {% if form.email.field.help_text %} <span class="help" id="{{ form.email.auto_id }}_help">{{ form.email.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    {% endif %}
                    <label for="{{ form.coupon.auto_id }}">{{ form.coupon.label }}{% if form.coupon.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.coupon }}
                    {% if form.coupon.field.help_text %} <span class="help" id="{{ form.coupon.auto_id }}_help">{{ form.coupon.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.from_date.auto_id }}">{{ form.from_date.label }}{% if form.from_date.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.from_date }}
                    {% if form.from_date.field.help_text %} <span class="help" id="{{ form.from_date.auto_id }}_help">{{ form.from_date.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.to_date.auto_id }}">{{ form.to_date.label }}{% if form.to_date.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.to_date }}
                    {% if form.to_date.field.help_text %} <span class="help" id="{{ form.to_date.auto_id }}_help">{{ form.to_date.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                </div>
                <div id="submit_form_right">
                    <label for="{{ form.instructions.auto_id }}">{{ form.instructions.label }}{% if form.instructions.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.instructions }}
                    {% if form.instructions.field.help_text %} <span class="help" id="{{ form.instructions.auto_id }}_help">{{ form.instructions.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.tags.auto_id }}">{{ form.tags.label }}{% if form.tags.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.tags }}
                    {% if form.tags.field.help_text %} <span class="help" id="{{ form.tags.auto_id }}_help">{{ form.tags.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <label for="{{ form.image.auto_id }}">{{ form.image.label }}{% if form.image.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.image }}
                    {% if form.image.field.help_text %} <span class="help" id="{{ form.image.auto_id }}_help">{{ form.image.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                    <h6>OR</h6>
                    <label for="{{ form.image_url.auto_id }}">{{ form.image_url.label }}{% if form.image_url.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ form.image_url }}
                    {% if form.image_url.field.help_text %} <span class="help" id="{{ form.image_url.auto_id }}_help">{{ form.image_url.field.help_text }}</span><span class="help_text_border"></span>{% endif %}
                </div>
                <input type="submit" value="Share Deal" name="submit">

            </form>
        </div>
    </div>
{% endblock main_content %}
{% block sidebar %}
{% endblock sidebar %}