/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUp{
    padding-top:10px;
    padding-left:20px;
    padding-bottom:0px;
    color:grey;
}
.markItUp .markItUpButton a{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(images/sprites.png);
	background-repeat: no-repeat;
    margin-right:5px;
}

.markItUpHeader{
    position:relative;
    float:left;
    background-color:#F2D602;
    padding:5px;
    padding-left:20px;
    padding-top:10px;
    width:900px;
    border-bottom:3px solid #E6B800;
}

.markItUp .markItUpButton1 a {
    background-position: 0 -224px;
}
.markItUp .markItUpButton2 a {
	background-position: -32px -224px;
}
.markItUp .markItUpButton3 a {
	background-position: -64px -224px;
}

.markItUp .markItUpButton4 a {
	background-position: -96px -224px;
}
.markItUp .markItUpButton5 a {
	background-position: -96px 0;
}

.markItUp .markItUpButton6 a {
	background-position: 0 -96px;
}

.markItUp .preview a {
	background-position: -64px -96px;
}

