/* preview style examples */
body {
	font:70% Verdana, Arial, Helvetica, sans-serif;
    
}

.bbcode-quote{
	background-color:#F1F1F1;
	margin:10px 0px 10px 20px;
	padding-left:10px;
    padding-bottom:10px;    
    padding-top:5px;
}

.bbcode-quote .bbcode-quote{
    
}

.bbcode-quote:before{
		background:url('../../css/images/left-quote.png') 0 0 no-repeat;
		display:block;
		position:relative;
		float:left;
		height:20px;
		width:16px;
		content:"";
		margin-right:6px;
}

.bbcode-quote-head{
	padding:5px;
}

.bbcode-quote-head a{
	float:right;
	cursor:pointer;
    margin-right:10px;
}

.bbcode-quote-head span{
	font-weight:bold;
	color:#00476B;
}

.bbcode-quote-body{
	padding-left:22px;
}

