html{
	/* background:url('images/bg11.png') repeat; */
    background-color: #EBEBEB;
}

html body{
	background:url('images/bg11.png') repeat;	
}


html *,h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
}

/*  				 Effects 					*/
a,span{
	transition-property: text-indent,background-color,display;
	transition-duration:300ms; 
	transition-delay:0s;
	transition-timing-function:  ease-out;		
}

input{
    border:none;
    outline:0;
}

label{
    cursor: pointer;
}

/*				Color schemes		*/
.bg-color-one{	background-color: #4D4D4D;} /* Grey */
.bg-color-two{	background-color: #7A5229;} /* Brown */
.bg-color-three{ background-color: #2795B7;} /* Blue */
/*.bg-color-three{background:url('images/white_brick_wall.png') repeat;}*/
.bg-color-four{	background-color: black;}
.bg-color-five{	background:url('images/fabric_plaid.png') repeat;}
.bg-color-six{	background-color: transparent;}
.bg-color-7{background-color:#F0F0F0;}
.bg-color-white{background-color: white;}
.bg-color-yellow{background-color:#F2D602;}

.color-one{	color: #248F8F;}
.color-two{color: #B22400;}
.color-three{	color: green;}
.color-four{color: black;}
.color-five{	color: white;}
.color-orange{color: #F0630C;}

.f-size-12{	font-size:12px;	}
.f-size-14{	font-size:14px;	}
.f-size-16{	font-size:16px;	}
.f-size-18{	font-size:18px;	}
.f-size-20{	font-size:20px;	}
.f-size-22{	font-size:22px;	}
.f-size-24{	font-size:24px;	}

.f-size-1em{	font-size:1em;	}
.f-size-11em{	font-size:1.1em;	}
.f-size-12em{	font-size:1.2em;	}
.f-size-d9em{	font-size:0.9em;	}
.f-size-d95em{	font-size:0.95em;	}
.f-size-d8em{	font-size:0.8em;	}
.f-size-d85em{	font-size:0.85em;	}

.border-2-three{ border-bottom:2px solid grey} /* Blue */
.border-3-three{ border-bottom:3px solid grey} /* Blue */
.border-5-three{ border-bottom:5px solid grey} /* Blue */
.border-4-three{ border-bottom:4px solid grey} /* Blue */
.border-1-white{ border-bottom:1px solid white}

.greyish.details{
	color:#554E44;
    font-weight:bold;
}

.small-empty {
	min-height:15px;
	position:relative;
}

.visible{
    display:block;
}

span.visible{
    display:inline-block;
}

.visible.force{
    display:block;
}

.invisible{
    display:none;
}

.invisible.force{
    display:none;
}

.large-empty {
	min-height:30px;
	position:relative;
}

.cur-pointer{
	cursor:pointer;
}

.bold{
	font-weight:bold;
}

.italic{
	font-style:italic;
}

div.row div.row {
    margin-left: 0;
    margin-right: 0;
}

div.container{
	min-width: 968px;
    max-width:1200px;
    margin:auto;
}
.tiny-up-arrow{
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	border-bottom:5px solid black;
	top:-10px;
	left:1%;	
}

.tiny-down-arrow{
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	border-top:5px solid black;
	top:-2px;
	left:1%;
		
}

.small-up-arrow{
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-bottom:9px solid black;
	top:50%;
	left:5px;	
}

.small-down-arrow{
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:9px solid black;
	top:50%;
	left:5px;		
}

.large-up-arrow{
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-bottom:25px solid #D2D2D2;
	left:7%;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:5px;	
}

.large-down-arrow{
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-top:25px solid #D2D2D2;
	left:7%;	
	margin-bottom:10px;
	margin-top:10px;
	margin-left:5px;	
}

.large-down-arrow:hover{
	border-top:25px solid #2EB8B8;	
}

.large-up-arrow:hover{
	border-bottom:25px solid #8F2400;	
}

ul{
	list-style:none;
	}
	
.large-icon{
	font-size:24px;
}

.small-icon{
	font-size:16px;
}

.tiny-icon{
	font-size:14px;
}

.xlarge-icon{
	font-size:64px;
}	
	
/* 								Main Login Bar 						*/	

#top-nav-wrap{
    height: 80px;
    padding-top: 10px;
    position: relative;
}

#top-nav-wrap>div.row{
    max-width: 1200px;
    position: relative;
    padding: 0;
    margin: auto;
}

#top-nav-wrap .row{
    position:relative;
    top:3px;

}

#login-bar{
	display:block;
	line-height:50px;
	margin-bottom:0px;
    margin-top:7px;
}	

#login-bar li{
	float:left;	
    line-height:30px;
}

/*#login-trigger,#signup{
	cursor:pointer;
	margin-top:5px;
	  background: #fff;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	  background-image: -webkit-linear-gradient(top, #fff, #eee);
	  background-image: -moz-linear-gradient(top, #fff, #eee);
	  background-image: -ms-linear-gradient(top, #fff, #eee);
	  background-image: -o-linear-gradient(top, #fff, #eee);
	  background-image: linear-gradient(top, #fff, #eee);
	  padding: 4px 15px;
	  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
	  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
	  border-top:3px;
	  margin-left:2px;
}
*/

#login-trigger,#signup, ul#user-logged-in li a.login-bar-account-menu{
    background-color:#E6B800;
    color:black;
    padding: 5px 20px;
	cursor:pointer;    
    display:block;
}    
#login-trigger{
    border-right:1px solid black;
}
#signup{
}

#login-trigger:hover,#login-trigger.active,#signup:hover, ul#user-logged-in li a.login-bar-account-menu:hover{
  background: #F2D602;
}

#login-content{
	  display: none;
	  position: absolute;
	  top: 47px;
	  right: 0.9375em;
	  z-index: 999;
	  background: #F2D602;
	  padding: 5px 15px 5px 15px;
	  border-radius: 3px 0 3px 3px;
      line-height:40px;
	  width:350px;
      border: 5px solid #E6B800;
}

#login-content input{
	margin-bottom:0.1em;
    font-size: 1.2em;
}

#user-logged-in li:first-child>a{
    border-right: 1px solid #000000;
}

#login-content label{
	display:inline-block;
	margin-bottom:0;
    font-size: 1.2em;
}

#detail-doc-wrap{
    background-color: #FFFFFF;
    border-radius: 0 0 0 0;
    box-shadow: 0 5px 10px grey;
    padding: 25px 20px 20px;
    position: relative;
}

input[type="submit"]{
	clear:both;
	width:100px;
	margin-left:auto;	
}

/*												Main Nav										*/

#main-nav{
	position:relative;
	float:left;
}

#main-nav ul li{
	float:left;
	line-height:50px;	
}

#main-nav ul a{
	color:white;
	padding:4px 10px;
	margin:10px;
	  -moz-box-shadow: 1px 3px 3px -1px #1E748E;
	  -webkit-box-shadow: 1px 3px 3px -1px #1E748E;
	  box-shadow: 1px 3px 3px -1px #1E748E;
	  border:1px solid #1E748E;	
}

#main-nav ul a.active:hover{
	color:white;
	background-color:#1E748E;
}

#main-nav ul a.inactive{
	background-color:white;
	color:#2795B7;
}

#topics{
	margin-bottom:0;
	background-color: transparent;
	height:35px;
	line-height:35px;
}

#topics section.top-bar-section ul{
		background-color: transparent;
	}
	
#topics section.top-bar-section .dropdown li a{
		background-color: white;
		color: black;
		border-right:1px solid #BABABA;
		border-bottom:1px solid #BABABA;
		border-left:1px solid #BABABA;
		padding:0px 0px 0px 15px;
		line-height:3;
		height:40px;
		font-size:1.1em;				
	}
	
#topics section.top-bar-section .dropdown .first{
	border-top:1px solid #BABABA;
}

#topics section.top-bar-section .dropdown li a:hover{
		text-indent:10px;
}
		
#topics section.top-bar-section ul li.has-dropdown > a{
    width: 160px;
	font-size:16px;
	border:none;
	background-color: #DADADA;
	color:black;
	cursor:pointer;
    text-align: center;
	}
	
	#topics section.top-bar-section ul li.has-dropdown > a:after{
		border-color:white transparent transparent transparent;
		top:60%;	
		margin-right:5px;
	}
	
	section.top-bar-section .has-dropdown > a{
		padding-right:20px !important;			
	}
	
	ul#topics-nav li a{
		line-height:35px;
		height:35px;
		font-weight:normal;
	}
	
#topics section.top-bar-section ul li a:hover{
		background-color: #CACACA;
		color:white;
	}
        
#topics section.top-bar-section ul li a:hover li.has-dropdown li:first-child{
		background-color: #2795B7;
		color:white;
	}        
	
#topics section.top-bar-section ul li.has-dropdown > a:hover{
	background-color: transparent;
    border: 1px solid #CCCCCC;
    color: #000000;
	}
        
#nav-search{
    height: 50px;
    line-height: 50px;
    padding: 6px 0 0 0;
    border-bottom: 1px solid #DADADA;
    font-size:0.9em;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    }
    
#search-form{
	margin: 0;
}

#search-row{

}

#search-row *{
    position: relative;
    display: inline;
    top:-10px;
}
	
#main-search {
	background:url("/static/css/images/search.png") no-repeat scroll 7px 4px white;
	height:35px;
	margin:0;
	-moz-border-radius:2px;
	padding-right:0;
	width:80%;
	padding-left:35px;
	font-size:1em;
    border:1px solid #E1E1E1;
    box-shadow:none;
}

#main-search-submit{
	font-size:1em;
    border:1px solid #E1E1E1;
    box-shadow:none;
    width: 15%;
	height:35px;
	margin:0px;
	-moz-border-radius:2px;
	padding-right:0;
    padding-left: 0;
    margin-left: 0;
}

#main-search:focus{
    background-color:#D1D1D1;
    border-right:2px solid grey;
}

ul.breadcrumbs{
	padding:0.375em 0.875em 0.4625em;
}

ul.breadcrumbs li a, .breadcrumbs li span,ul.breadcrumbs li a, .breadcrumbs li a{
	font-size:0.9em;
}

#submit-button{
	float:left;
	height:auto;
	line-height:40px;
	margin:0;
	-moz-border-radius:2px;
	padding-right:5px;
	border-radius:15px;
	color:#4D4D4D;
}


#submit-button a{
    background-color: #E6B800;
    border-radius: 2px;
    color: #000000;
    cursor: pointer;
    font-size: 1.4em;
    margin-left: 15%;
    margin-top: 5px;
    padding: 0 30px;
}
	
#submit-button span.submit-text{
	display:inline-block;
	font-size:1.1em
}

#submit-button *{
	position: relative;
	float: left;
	margin-left: 10px;
}

/*  							Main Content								*/

/*  							Sort Bar										*/

#sort-bar{
    padding: 0;
}

#sort-bar *{
    position: relative;
    float: left;
    font-size: 1.3em;
}

#sort-bar span{
    line-height: 30px;
    width: 25%;
    top: 2px;
    color: #554E44;
    font-weight: bold;
    font-size: 1.1em;
}

#sorting{
    width: 68%;
    height: 35px;
    color: #554E44;
    border: 1px solid #D3CEC7;
    outline: none;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding-left: 26px;
}
	
/*						Content										*/

.content-heading{
    color:#554E44;
}
.content-heading:hover{
    text-decoration: underline;
    color: inherit;
}
.main-content .hotness.degree{
	font-weight:bold;
	font-size:1.5em;
    display: block;
    text-align: center;
    position: relative;
}

.main-content .hotness.degree.details{
	padding-left:5px;
}

.row div.content-left{
	padding-left:1.5em;
	border-radius:5px;
}

.row div.content-middle, .row div.content-left, .row div.sidebar-thumb{
	border-radius:5px;
    max-height:150px;
    min-height: 130px;
    margin-bottom:10px;
}

div.content-middle h5{
    font-size: 1.1em;
}

.row div.content-middle.details, .row div.content-left.details, .row div.sidebar-thumb.details{
	min-height:130px;
	height:auto;
    max-height: none;
}

.content-middle .description{
    word-wrap: break-word;
}

.row div.content-middle h5{
    margin-bottom:5px;
}

.row div.content-middle h5 a{
    font-size:1.2em;
}

.row div.content-middle p{
    margin-bottom:0.5em;
}

.row div.sidebar-thumb{
	padding-top:10px;
}

.row div.sidebar-thumb a.deal-link{
    box-shadow:none;
    border:none;
    width:120px;
}

.main-content{
	border-bottom: 1px solid #D2D2D2;
	padding: 5px 0px 5px 0px;
	max-height: none;
}

p.sub-footer{
    position: absolute;
    float: left;
    bottom: -5px;
}

p.sub-footer *{
    position: relative;
    float: left;
    margin-right: 5px;
}

p.sub-header span, p.sub-footer span{
    color: #554E44;
    font-size: 1em;
}

p.sub-header span.title, p.sub-footer span.title{
    font-weight: bold;
    color: #8A7E7E;
    font-size: 0.9em
}

p.sub-header a, p.sub-footer a, #detail-post-footer p.sub-footer a{
    font-size: 1em;
    font-weight: bold;
    color: #0D1A79;
    text-decoration: none;
    float: left;
    background-color: transparent;
    max-resolution: 0;
    padding: 0;
}

#detail-post-footer p.sub-footer{
    position: relative;
    margin-right: 45px;
}

#detail-post-footer p.sub-footer *{
    position: relative;
    float: left;
}

#detail-post-footer{
    position: relative;
    margin-top: 20px;
    margin-right:50px;
}

#detail-post-footer a {
    float:right;
    cursor:pointer;
    color:#554E44;
    font-size: 0.9em;
    background-color:#CCCAC7;
    padding:7px 10px;    
    margin-right:10px;
}
#detail-post-footer span{
    font-size:0.9em;
    margin-right:5px;
}

#detail-post-footer a:hover{
    color:white;
    background-color:#554E44;    
}

span.title + a{
    text-decoration: underline;
}

a.deal-link{
    margin:10px 0px 0px 0px;
    font-size: 0.9em;
    padding: 0.75em 1.25em 0.75em 1.25em;
}

a.th{
    overflow: hidden;
    width: 120px;
    min-height: 80px;
}

a.th img{
    display:block;
    max-height:80px;
    max-width:100%;
    margin:auto;
}

/*                  Side Bar                */
#sidebar{
    padding-top: 0;
    margin-top: 10px;
}

/*			Snapshot		*/
#snapshot{
	position: relative;
	float: left;
}

#snapshot-title-bar{
	position: relative;
	float: left;
	margin-top: 15px;
	padding-bottom: 10px;
	width: 100%;	
}
.snapshot-title{
	width: 25%;
	cursor: pointer;
	padding: 5px 9px;
	color: white;
	font-size:0.9em;
}
.snapshot-title:hover{
	background-color: #1E748E;
}

.snapshot-title.selected{
	background-color: #1E748E;
}

.snapshot-table{
	width: 100%;
	display: none;
}

.snapshot-table tbody{
	width: 100%;
}
.snapshot-table tr td{
	padding:0.8em;
	border: solid 1px #dddddd;
}

.snapshot-table.visible-table{
	display: table;
}

.snapshot-table tr td a{
	color: #001A66;	
}

.snapshot-table tr td a:hover{
	text-decoration: underline;
}

.snapshot-temp{
	color: #B22400;
	font-weight: bold;
	font-size: 15px;
	margin-right: 5px;
}

#snapshot-header{
	/*background: url('../img/flame.png') no-repeat 0 0 ;*/
	position: relative;
	float: left;
}

#snapshot-header h5{ 
	font-size: 22px;
	margin-left: 5px;
	margin-bottom:0px;
}

#snapshot-header *{
	position: relative;
	float: left;	
}

#snapshot-header .large-icon{
    font-size:32px;
}

/*		Page Nav		*/

.pagination-centered{
	margin-top: 15px;
}
ul.pagination li a{
	padding: 0.3em 1em 0.3em 1em;
	font-size: 18px;
	background-color: #e6e6e6;
	color: black;
}

ul.pagination li a:hover{
	background-color: #2ba6cb;
	color:white;	
}

ul.pagination li.unavailable a:hover{
	color: #999999;
	background-color:#e6e6e6;
}

/*              Editor                  */
#editor{
    border: 1px solid #D2D2D2;
    border-radius: 5px 5px 5px 5px;
    margin: 30px auto;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    min-width:968px;
    max-width:1200px;
}

#editor-wrap{
    padding:10px 0;
    width:940px;
    margin:auto;
    position:relative;
    background-color:#F2F2F2;
}

#editor input, #editor label{
    margin-left:20px;
    margin-top:5px;
    width:900px;
    font-size:14px;
}

#editor label{
    cursor:text;
}

#editor input{
    height:40px;
    line-height:40px;
    border:none; 
    width:400px;
}

#editor input[type="submit"]{
    width:200px;   
    background-color:#D2D2D2;
    color:#554E44;
}

#editor input[type="submit"].disabled{
    color:grey;
    cursor:default;
}

#editor input[type="submit"].enabled:hover{
    background-color:#554E44;
    color:white;
}

#editor input:focus{
    background-color:#D2D2D2;
}

/*				Footer 					*/
#footer{
    color: #D3CCCC;
    padding-bottom: 15px;
    margin: 10px auto;
    padding-top: 15px;
    border-top: 1px solid #D2D2D2;
    border: 1px solid #D2D2D2;
    background-color: #616161;
    width: 100%;
    max-width: 100%;
}

#footer h5{
	color: #D3CCCC;
	text-decoration:underline;
	font-size:18px;
	font-weight:normal;
}

#footer p{
	margin-bottom:0;
	font-size:0.9em;
}

#footer a{
	color:#4D4D4D;
	cursor:pointer;
}

#footer a:hover{
	color:grey;
	text-decoration:underline;
}

.footer-content-title{
	width:150px;
	display:inline-block;
}

div.footer-row{
	border-right:1px solid #D2D2D2;
	padding-bottom:15px;
	padding-left:25px;
	height:150px;
}

div.large-4.columns.footer-row.last{
    border:none;
}

span.footer-content-value{
    padding-left: 10px;
}

#footer-wrap{
    position: relative;
    margin: auto;
    max-width: 1200px;

}


/*						Comment					*/

.content *{
	font-size:13.5px;
}

div.comment-detail{
	padding-top:10px;
}

#top-comments,#all-comments,#bottom-nav{
	padding-bottom:15px;
	font-size:0.9em;
	padding-left:0.9375em;
	padding-right:0.9375em;
}

#top-comments .panel,#all-comments .panel,#bottom-nav .panel{
	padding:15px 10px 30px 10px;
	margin-bottom:1em;
	background-color:#DDDDDD;
	color:#554E44;
	border:none;
}

/*#comments-pp-trigger,#comments-pp li a,#comments-page-trigger,#comments-page li a{*/
div.comments-nav{
    position: relative;
    top:-6px;
}

div.comments-nav a{
    position: relative;
    width: 45px;
    display: inline-block;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    color: black;
}

div.comments-nav a:hover{
    background-color: #E6B800;
}

div.comments-nav span.tiny-down-arrow{
    margin-left: 3px;
}

ul.comments-page{
    left: 87px;
    position: absolute;
    top: 29px;
    display: none;
    z-index: 1000;
}

ul.comments-pp{
    position: absolute;
    left: 114px;
    display: none;
    z-index: 1000;
}

ul.comments-pp a, ul.comments-page a{
    border-top: 1px solid white;
}

ul.comments-pp li, ul.comments-page li{
    line-height: 1;
}

div.comments-nav a.inactive{
    background-color:#FFF0B2;
}

#top-comments header,#all-comments header{
	font-family:'Open Sans',sans-serif;
	font-size:1.2em;
}

.comment.row{
    padding:10px;
}

.comment-header.row{
    padding:0px;
}

.comment-header .right .like,.comment-header .right .unlike{
    color:grey;
}

.comment-header .right .like:hover{
    color:green;
}

.comment-header .right .unlike:hover{
    color:red;
}

.bbcode-quote{
	background-color:#F1F1F1;
	width:85%;
	margin:10px 0px 10px 0px;
	padding-left:20px;
    padding-bottom:10px;
}

.bbcode-quote .bbcode-quote{
    
}

.bbcode-quote:before{
		background:url('../markitup/sets/default/images/sprites.png') no-repeat;
		background-position: -352px -256px;				
		display:block;
		position:relative;
		float:left;
		height:20px;
		width:16px;
		content:"";
		margin-right:6px;
}

.bbcode-quote-head{
	padding:5px;
}

.bbcode-quote-head a{
	float:right;
	cursor:pointer;
    margin-right:10px;
}

.bbcode-quote-head{
	font-weight:bold;
	color:#00476B;
}

.bbcode-quote-body{
	padding-left:22px;
}

.small-avatar-holder{
	height:70px;
	background-color:#F1F1F1;
}

.comment{
	padding:20px 0px;
	border-bottom:1px solid #DDDDDD;
}

.comment-header{
	padding:5px 10px 0px 0px;
}

.comment-header a{
	text-decoration:underline;
	cursor:pointer;
	color:#002EB8;
}

.comment-header .right .like{
    font-size:13px;
}

div.comment-header div.right a{
	padding-left:20px;
}

#top-comments .panel .right{
	width:70%;
}

.comments-pp-wrap,.comments-page-wrap{
	position:relative;
	float:right;
}

.expand-quote{
    position:relative;
    float:right;
    top:-15px;
    right:20px;
    cursor:pointer;
}

#share-form-wrap *{
	font-size:1em;
	outline:none;
	margin-right:10px;	
	border:none;
}

#share-form-wrap h3{
	color:#554E44;
	font-size:1.3em;
}

#share-form-wrap label{
	margin-bottom:10px;
	margin-top:10px;
	font-weight:bold;
}

#share-form-wrap input,#share-form-wrap textarea,#share-form-wrap select{
	background-color:#F2F2F2;
	border:none;
	padding:0.5em;
	width:400px;
}

#share-form-wrap textarea{
	width:400px;
	height:100px;
}

#share-form-wrap select,#share-form-wrap input[type="number"]{
	width:300px;
}

#share-form-wrap input[type="date"]{
	width:200px;
}

.form-div{
	position:relative;
	float:left;
}

#share-form-wrap input[type="submit"],#share-form-wrap input[type="button"]{
	background-color:#D2D2D2;
	border:none;
	padding:10px;
	width:150px;
	margin-left:100px;
	margin-top:20px;
}

#share-form-wrap input[type="submit"]:hover,#share-form-wrap input[type="button"]:hover{
	background-color:#554E44;
	color:white;
}

#share-form-wrap input:focus,#share-form-wrap textarea:focus,#share-form-wrap select:focus{
	background-color:#554E44;
	color:white;	
}

/******************** Users    *****************************/
#user-wrap,#about-help-wrap{   
    margin-bottom:30px;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:8px;
}

#user-left,#about-help-left,#about-right{
    border-radius:3px;
    padding-top:10px;
    box-shadow:0px 4px 14px #CCCAC7;
    border:1px solid #CCCAC7;
}

#user-right,#about-help-right{
    padding-right:0px;
}

.table-wrap{
    margin-top:20px;
}

#table-user-stats{
    width:100%;
    border:none;
    margin:0;
}

#user-search{
    line-height:46px;
    height:46px;    
    margin-bottom:20px;
    border-bottom:1px solid #D2D2D2;
    background-color:#DDDDDD;
    padding-right:8px;
}

#user-wrap h3{
    text-align:center;
    margin:0;
    color:#D2D2D2;
}

#user-search *{
    position:relative;
    float:right;
}

#user-search span{
    width:12%;  
    color:#554E44;
}

#user-search input{
    width:40%;
    height:30px;    
    margin-top:8px;
    border:none;
    outline:none;
    font-size:14px;
}

#user-search input:focus{
	background-color:#554E44;
	color:white;
}

#table-user-stats thead tr,#table-user-stats thead{
    width:100%;
}
#table-user-stats thead tr td{    
    font-size:16px;
    font-weight:bold;
    text-align:center;
    width:150%;
    color:#554E44;    
}

#table-user-stats tbody tr td{
    font-size:inherit;    
}

#table-user-stats tbody tr td{
    padding:5px;
}

#user-like-unlike .user-like span,#user-like-unlike .user-unlike span{
    font-size:24px;
    cursor:pointer;    
    position:relative;
    top:4px;
    margin-left:5px;
}
#user-like-unlike{
    padding:0 0.9375em;    
}
#user-like-unlike .user-unlike span{
    top:7px;
}

#user-like-unlike{
    position:relative;
}
#user-like-unlike p{
    padding-left:10px;    
    position:relative;
    float:left;
    width:50%;
    margin:0;
    border-right:1px solid #F2F2F2;    
}

#user-like-unlike .user-like span:hover,#user-like-unlike .user-unlike span:hover
{
    color:orange;
}
#user-avatar{
    width:100%;
}

#table-user-stats tbody tr td.table-left{
    width:40%;
    color:#554E44;
}

#table-user-stats tbody tr td.table-right{
    font-weight:bold;
    color:#554E44;    
}

#user-avatar{
}

div.user-list-header.large-12.columns{
    padding-right:0;
    font-size:0.9em;
}

.user-list-header h4,.about-help-header h4{
    color:#554E44;
    background-color:#E4E4E4;
    margin:0;
    padding:7px;
    padding-left:20px;  
    border-top-right-radius:5px;
    border-top-left-radius:5px;    
}

.user-list-header h4:hover{
    background-color:#DBDBDB;
    cursor:pointer;
}

.user-list-header .arrow{
    font-size:1.3em;
    margin-right:5px;
}

#user-posts-table{
    width:100%;
    margin-bottom:0px;
}
#user-posts-table *{
    width:100%;
    border:none;    
}
#user-posts-table tbody tr{
    margin-bottom:5px;
    padding:5px;    
}
#user-posts-table tbody tr td{
    background-color:white;
    border-bottom:1px solid #DBDBDB;
    font-size:14px;    
    padding:5px;
    padding-left:15px;
}

#user-posts-table tbody tr td a:hover{
    color:#1E748E;
    text-decoration:underline;
}

#user-posts-table tbody tr td span.degree{
    margin-right:10px;
    padding:8px 0px 8px 10px;    
    color:#554E44;
    background-color:#DDDCDA;
    font-weight:bolder;
    border-top-right-radius:35px;
    border-bottom-right-radius:35px;    
    display:inline-block;
    width:60px;
}

div.user-nav{
    padding:5px;
    border:none;
}

.user-nav-wrap{
    position:relative;
    margin:auto;
    width:40%;
}

.user-nav-wrap ul{
    position:relative;    
    display:inline-block;
    margin-bottom:0px;    
}

.user-nav-wrap ul li{
    position:relative;
    float:left;
    display:inline-block;    
}

.user-nav-wrap ul li a{
    padding:3px 10px;
    background-color:#E6B800;
    margin-right:10px;
    display:inline-block;    
    color:black;
    font-size:14px;
    cursor:default;
    border-radius:3px;
}

.user-nav-wrap ul li a.active{
    cursor:pointer;
}

.user-nav-wrap ul li a.selected,.user-nav-wrap ul li a.inactive{
    background-color:#D2D2D2;
}

.user-nav-wrap ul li a.ellipsis{
    background-color:transparent;
}

.user-nav-wrap ul li a.active:hover{
    background-color:#F2D602;
}


/********************  Icons   ****************************/
.icon-home,.icon-home2,.icon-pencil,.icon-image,.icon-image2,.icon-headphones,.icon-bullhorn,.icon-tag,.icon-tags,.icon-barcode,.icon-qrcode,.icon-cart,.icon-address-book,.icon-envelop,.icon-pushpin,.icon-clock,.icon-calendar,.icon-print,.icon-screen,.icon-mobile,.icon-tv,.icon-download,.icon-upload,.icon-disk,.icon-bubble,.icon-bubbles,.icon-bubbles2,.icon-user,.icon-users,.icon-user2,.icon-users2,.icon-quotes-left,.icon-search,.icon-zoom-in,.icon-zoom-out,.icon-expand,.icon-contract,.icon-cog,.icon-cogs,.icon-hammer,.icon-stats,.icon-gift,.icon-trophy,.icon-mug,.icon-fire,.icon-remove,.icon-lightning,.icon-list,.icon-link,.icon-flag,.icon-eye,.icon-eye2,.icon-star,.icon-heart,.icon-heart2,.icon-heart-broken,.icon-thumbs-up,.icon-thumbs-up2,.icon-happy,.icon-happy2,.icon-smiley,.icon-smiley2,.icon-tongue,.icon-tongue2,.icon-sad,.icon-sad2,.icon-wink,.icon-wink2,.icon-grin,.icon-grin2,.icon-cool,.icon-cool2,.icon-angry,.icon-point-up,.icon-point-right,.icon-point-down,.icon-point-left,.icon-warning,.icon-notification,.icon-question,.icon-info,.icon-info2,.icon-cancel-circle,.icon-checkmark-circle,.icon-close,.icon-checkmark,.icon-minus,.icon-plus,.icon-loop,.icon-loop2,.icon-arrow-up-left,.icon-arrow-up,.icon-arrow-up-right,.icon-arrow-right,.icon-arrow-down-right,.icon-arrow-down,.icon-arrow-down-left,.icon-arrow-left,.icon-arrow-up-left2,.icon-arrow-up2,.icon-arrow-up-right2,.icon-arrow-right2,.icon-arrow-down-right2,.icon-arrow-down2,.icon-arrow-down-left2,.icon-arrow-left2,.icon-checkbox-checked,.icon-checkbox-unchecked,.icon-checkbox-partial,.icon-radio-checked,.icon-radio-unchecked,.icon-font,.icon-bold,.icon-underline,.icon-italic,.icon-pilcrow,.icon-share,.icon-google,.icon-google-plus,.icon-facebook,.icon-facebook2,.icon-twitter,.icon-twitter2,.icon-feed,.icon-feed2,.icon-warning2,.icon-home3,.icon-thumbs-up3,.icon-thumbs-down,.icon-gift2,.icon-trophy2,.icon-comment-alt2-stroke,.icon-comment-alt2-fill,.icon-denied,.icon-mail,.icon-plus-alt,.icon-minus-alt,.icon-link2,.icon-at,.icon-left-quote,.icon-right-quote,.icon-left-quote-alt,.icon-right-quote-alt,.icon-tag-stroke,.icon-tag-fill {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}

.icon-pilcrow {
	background-position: -96px -224px;
}

.icon-image {
	background-position: -96px 0;
}

.icon-underline {
	background-position: -32px -224px;
}

.icon-link {
	background-position: 0 -96px;
	width: 17px;
	height: 17px;
}
.icon-bold {
	background-position: 0 -224px;
}
.icon-italic {
	background-position: -64px -224px;
}
.icon-eye {
	background-position: -64px -96px;
}

/******************* Help Page **************************/

#about-help-wrap{
    
}

#about-help-ul{
    position:relative;
    background-color:#F2F2F2;
}
#about-help-ul>li{
    margin-top:2px;
}
#about-help-ul>li>a{
    padding-left:10px;
}
#about-help-ul>li.li-expanded>a{
    background-color:#E6B800;
    color:black;
}

#about-help-ul>li.li-expanded>a:hover{
    background-color:#E6B800;
    color:inherit;
    cursor:default;
    border:none;
}

#about-help-ul>li>a{
    font-weight:bold;
}
#about-help-ul li a{
    display:inline-block;
    width:100%;
    color:#554E44;
    font-size:1.2em;
    cursor:pointer;
    padding:0px 0px 5px 10px;
}

#about-help-ul li a:hover{
    background-color:#E6B800;
    color:black;
    text-indent:10px;
}

#about-help-ul .sub-ul [data-icon]:before{
    margin-right:5px;
    color:#2795B7;
}
#about-help-ul .sub-ul>li{
    padding-left:20px;
}

#about-help-ul .sub-ul>li:last-child{
    border:none;
}

#about-help-ul .li-expanded>ul>li,#about-help-ul>li.li-expanded>a{
    border-bottom:1px solid #D2D2D2;    
}

#about-help-ul li.li-hidden ul.sub-ul{
    display:none;
}

#about-help-ul>li.li-hidden{
    border-top:1px solid #D2D2D2;    
    border-bottom:1px solid #D2D2D2;        
}

#about-help-ul .sub-ul{
    margin:0;
}
#about-help-ul .sub-ul li {
    border:none;
}

#about-help-ul .sub-ul li a{
    font-size:1.1em;
    padding-left:5px;
}

#about-help-ul li.last,#about-help-ul .sub-ul li.last{
    border:none;
}

#about-help-wrap{
    
}

#about-help-wrap{
    
}

/*
#about-help-ul>.li-expanded>a:after{
    content:"";
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:12px solid black;
    float:right;
    top:6px;
}

#about-help-ul>.li-hidden>a:after{
    content:"";
	display:inline-block;
	position:relative;
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:12px solid black;
    float:right;
    top:6px;
}
*/

.about-help-header{
    padding:5px 15px;
}

.about-help-header p{
    padding:10px;
    background-color:#F7F7F7;
    margin-bottom:0;
    border:1px solid #E4E4E4;
    border-bottom:1px solid #E4E4E4;    
}

#about-right{
    padding-bottom:10px;
}

div.login_reg_form *{
    display: block;
    font-size: 1.1em;
}

div.login_reg_form h5{
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 20px;
}

div.login_reg_form select{
    width: 200px;
    height: 30px;
}

#submit_form_wrap *{
    font-size: 1em;
}

#submit_form_wrap label{
    margin-bottom: 10px;
    font-size: 1.1em;
}

#id_price, #id_from_date, #id_to_date{
    width: 150px;
}

span.help{
    display: none;
    position: absolute;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 0.85em;
    padding: 10px;
    max-width: 360px;
    height: auto;
}

span.help_text_border{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border:10px solid;
    border-color: #333333 transparent transparent transparent;
    left: 15px;
}

#submit_form_left, #submit_form_right{
    padding-top: 20px;
    position: relative;
    float: left;
    width: 45%;
    margin-right: 5%;
    border-right: 1px solid #D2D2D2;
    min-height: 760px;
}

#submit_form_wrap input, #submit_form_wrap select{
    margin-bottom: 10px;
}

div.login_reg_form textarea{
    height: 170px;
    margin-bottom: 10px;
}

#login_form_wrap, #register_form_wrap {
    width: 45%;
    position: relative;
    float: left;
    margin-right: 5%;
    min-height: 500px;
    border-right: 1px solid #D2D2D2;
}

#login_form_wrap{
    border-right: 1px solid #D2D2D2;
}

div.login_reg_form label{
    display: block;
}

.login_reg_form input[type=text], .login_reg_form input[type=password], .login_reg_form textarea{
    height: 30px;
    width: 90%;
}

.login_reg_form span.helptext{
    display: none;
}

div.login_reg_form input, div.login_reg_form textarea{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #D2D2D2;
}

.login_reg_form input[type=submit]{
    padding: 6px 10px;
    background-color: #D2D2D2;
    color: #000000;
    margin: 20px 0;
}

.login_reg_form input[type=submit]:hover{
    background-color: #554E44;
    color: #ffffff;
}

.login_reg_form input[type=text]:focus, .login_reg_form input[type=password]:focus, .login_reg_form textarea:focus{
    background-color: #554E44;
    color: #ffffff;
}

span.required {
    color: red;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}

.form_fields{
    position: relative;
    float: left;
    width: 100%;
}

ul.errorlist{
    margin: 0;
}

ul.errorlist li{
    font-size: .8em;
    color: red;
}

span.login_reg_error{
    display: block;
    color: darkred;
    margin-bottom: 10px;
}

div.error_wrap p{
    background-color: #D69999;
    margin: 0;
    margin-bottom: 7px;
    padding: 10px;
    width: 95%;
    font-size: 1.3em;
}

#message_box{
    background-color: #554E44;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 6px #BBB8B4;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    display: none;
    height: 200px;
    width: 450px;
}

#message_box p{
    top:40px;
    padding: 20px;
    font-size: 1.2em;
    position: relative;
}

#message_box a{
    font-size: 1.1em;
}

#message_box span{
    position: relative;
    top: 5px;
    font-size: 1.2em;
    background-color: #F2F2F2;
    color: #554E44;
    padding: 10px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#overlay{
    opacity : 0.4;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: 900;
    display: none;
    height: 100%;
}

#message_box_msg.success{
    background: #554E41 url("images/tick.png") no-repeat 35px 30px;
    padding-left: 70px;
}

#message_box_msg.failure{
    background: #554E44 url("images/attention.png") no-repeat 35px 30px;
    padding-left: 70px;
}

#message_box.loading{
    background: #554E44 url("images/ajax-loader.gif") no-repeat 150px 100px;
}

#post_comment_msg{
    margin-left: 20px;
    padding-top: 15px;
    height: 50px;
    width: 900px;
    padding-left: 60px;
}

#post_comment_msg.failure{
    background: #DBCDC0 url("images/attention.png") no-repeat 20px 8px;
}

#post_comment_msg.success{
    background: #CCEBCC url("images/tick.png") no-repeat 20px 8px;
}

#editor-wrap.loading, #markItUpMarkItUp.loading{
    background-color: black;
    opacity: 0.4;
    z-index: 1000;
}

#editor-wrap.loading #post_comment_msg{
    color: white;
    z-index: 1010;
}