@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-home, .icon-pencil, .icon-home-2, .icon-headphones, .icon-image, .icon-image-2, .icon-bullhorn, .icon-pushpin, .icon-envelop, .icon-address-book, .icon-cart, .icon-clock, .icon-calendar, .icon-print, .icon-tv, .icon-mobile, .icon-screen, .icon-disk, .icon-upload, .icon-download, .icon-bubble, .icon-bubbles, .icon-bubbles-2, .icon-users, .icon-users-2, .icon-user, .icon-user-2, .icon-quotes-left, .icon-search, .icon-zoom-in, .icon-zoom-out, .icon-expand, .icon-contract, .icon-cog, .icon-cogs, .icon-hammer, .icon-stats, .icon-gift, .icon-trophy, .icon-mug, .icon-fire, .icon-remove, .icon-lightning, .icon-list, .icon-link, .icon-flag, .icon-eye, .icon-eye-2, .icon-star, .icon-heart, .icon-heart-broken, .icon-heart-2, .icon-thumbs-up, .icon-thumbs-up-2, .icon-happy, .icon-happy-2, .icon-smiley, .icon-smiley-2, .icon-tongue, .icon-sad, .icon-tongue-2, .icon-sad-2, .icon-wink, .icon-grin, .icon-wink-2, .icon-cool, .icon-grin-2, .icon-cool-2, .icon-angry, .icon-point-right, .icon-point-up, .icon-point-down, .icon-point-left, .icon-warning, .icon-notification, .icon-question, .icon-info, .icon-info-2, .icon-checkmark-circle, .icon-cancel-circle, .icon-close, .icon-checkmark, .icon-minus, .icon-plus, .icon-loop, .icon-loop-2, .icon-arrow-up-left, .icon-arrow-up, .icon-arrow-up-right, .icon-arrow-right, .icon-arrow-down-right, .icon-arrow-down, .icon-arrow-down-left, .icon-arrow-left, .icon-arrow-up-left-2, .icon-arrow-up-2, .icon-arrow-up-right-2, .icon-arrow-right-2, .icon-arrow-down-right-2, .icon-arrow-down-2, .icon-arrow-down-left-2, .icon-arrow-left-2, .icon-bold, .icon-underline, .icon-italic, .icon-pilcrow, .icon-share, .icon-google, .icon-google-plus, .icon-facebook, .icon-facebook-2, .icon-twitter, .icon-twitter-2, .icon-feed, .icon-feed-2, .icon-warning-2, .icon-home-3, .icon-plus-alt, .icon-minus-alt, .icon-left-quote, .icon-right-quote, .icon-left-quote-alt, .icon-right-quote-alt, .icon-at, .icon-gift-2, .icon-thumbs-up-3, .icon-thumbs-down, .icon-trophy-2, .icon-comment-alt2-stroke, .icon-comment-alt2-fill, .icon-mail, .icon-tag-fill, .icon-tag-stroke, .icon-font, .icon-tags, .icon-tag, .icon-barcode, .icon-qrcode, .icon-radio-unchecked, .icon-radio-checked, .icon-checkbox-unchecked, .icon-checkbox-partial, .icon-checkbox-checked, .icon-link-2, .icon-denied, .icon-coffee, .icon-arrow-left-alt1, .icon-arrow-right-alt1, .icon-arrow-up-alt1, .icon-arrow-down-alt1 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-home:before {
	content: "\e000";
}
.icon-pencil:before {
	content: "\e001";
}
.icon-home-2:before {
	content: "\e002";
}
.icon-headphones:before {
	content: "\e003";
}
.icon-image:before {
	content: "\e004";
}
.icon-image-2:before {
	content: "\e005";
}
.icon-bullhorn:before {
	content: "\e006";
}
.icon-pushpin:before {
	content: "\e007";
}
.icon-envelop:before {
	content: "\e008";
}
.icon-address-book:before {
	content: "\e009";
}
.icon-cart:before {
	content: "\e00a";
}
.icon-clock:before {
	content: "\e00b";
}
.icon-calendar:before {
	content: "\e00c";
}
.icon-print:before {
	content: "\e00d";
}
.icon-tv:before {
	content: "\e00e";
}
.icon-mobile:before {
	content: "\e00f";
}
.icon-screen:before {
	content: "\e010";
}
.icon-disk:before {
	content: "\e011";
}
.icon-upload:before {
	content: "\e012";
}
.icon-download:before {
	content: "\e013";
}
.icon-bubble:before {
	content: "\e014";
}
.icon-bubbles:before {
	content: "\e015";
}
.icon-bubbles-2:before {
	content: "\e016";
}
.icon-users:before {
	content: "\e017";
}
.icon-users-2:before {
	content: "\e018";
}
.icon-user:before {
	content: "\e019";
}
.icon-user-2:before {
	content: "\e01a";
}
.icon-quotes-left:before {
	content: "\e01b";
}
.icon-search:before {
	content: "\e01c";
}
.icon-zoom-in:before {
	content: "\e01d";
}
.icon-zoom-out:before {
	content: "\e01e";
}
.icon-expand:before {
	content: "\e01f";
}
.icon-contract:before {
	content: "\e020";
}
.icon-cog:before {
	content: "\e021";
}
.icon-cogs:before {
	content: "\e022";
}
.icon-hammer:before {
	content: "\e023";
}
.icon-stats:before {
	content: "\e024";
}
.icon-gift:before {
	content: "\e025";
}
.icon-trophy:before {
	content: "\e026";
}
.icon-mug:before {
	content: "\e027";
}
.icon-fire:before {
	content: "\e028";
}
.icon-remove:before {
	content: "\e029";
}
.icon-lightning:before {
	content: "\e02a";
}
.icon-list:before {
	content: "\e02b";
}
.icon-link:before {
	content: "\e02c";
}
.icon-flag:before {
	content: "\e02d";
}
.icon-eye:before {
	content: "\e02e";
}
.icon-eye-2:before {
	content: "\e02f";
}
.icon-star:before {
	content: "\e030";
}
.icon-heart:before {
	content: "\e031";
}
.icon-heart-broken:before {
	content: "\e032";
}
.icon-heart-2:before {
	content: "\e033";
}
.icon-thumbs-up:before {
	content: "\e034";
}
.icon-thumbs-up-2:before {
	content: "\e035";
}
.icon-happy:before {
	content: "\e036";
}
.icon-happy-2:before {
	content: "\e037";
}
.icon-smiley:before {
	content: "\e038";
}
.icon-smiley-2:before {
	content: "\e039";
}
.icon-tongue:before {
	content: "\e03a";
}
.icon-sad:before {
	content: "\e03b";
}
.icon-tongue-2:before {
	content: "\e03c";
}
.icon-sad-2:before {
	content: "\e03d";
}
.icon-wink:before {
	content: "\e03e";
}
.icon-grin:before {
	content: "\e03f";
}
.icon-wink-2:before {
	content: "\e040";
}
.icon-cool:before {
	content: "\e041";
}
.icon-grin-2:before {
	content: "\e042";
}
.icon-cool-2:before {
	content: "\e043";
}
.icon-angry:before {
	content: "\e044";
}
.icon-point-right:before {
	content: "\e045";
}
.icon-point-up:before {
	content: "\e046";
}
.icon-point-down:before {
	content: "\e047";
}
.icon-point-left:before {
	content: "\e048";
}
.icon-warning:before {
	content: "\e049";
}
.icon-notification:before {
	content: "\e04a";
}
.icon-question:before {
	content: "\e04b";
}
.icon-info:before {
	content: "\e04c";
}
.icon-info-2:before {
	content: "\e04d";
}
.icon-checkmark-circle:before {
	content: "\e04e";
}
.icon-cancel-circle:before {
	content: "\e04f";
}
.icon-close:before {
	content: "\e050";
}
.icon-checkmark:before {
	content: "\e051";
}
.icon-minus:before {
	content: "\e052";
}
.icon-plus:before {
	content: "\e053";
}
.icon-loop:before {
	content: "\e054";
}
.icon-loop-2:before {
	content: "\e055";
}
.icon-arrow-up-left:before {
	content: "\e056";
}
.icon-arrow-up:before {
	content: "\e057";
}
.icon-arrow-up-right:before {
	content: "\e058";
}
.icon-arrow-right:before {
	content: "\e059";
}
.icon-arrow-down-right:before {
	content: "\e05a";
}
.icon-arrow-down:before {
	content: "\e05b";
}
.icon-arrow-down-left:before {
	content: "\e05c";
}
.icon-arrow-left:before {
	content: "\e05d";
}
.icon-arrow-up-left-2:before {
	content: "\e05e";
}
.icon-arrow-up-2:before {
	content: "\e05f";
}
.icon-arrow-up-right-2:before {
	content: "\e060";
}
.icon-arrow-right-2:before {
	content: "\e061";
}
.icon-arrow-down-right-2:before {
	content: "\e062";
}
.icon-arrow-down-2:before {
	content: "\e063";
}
.icon-arrow-down-left-2:before {
	content: "\e064";
}
.icon-arrow-left-2:before {
	content: "\e065";
}
.icon-bold:before {
	content: "\e066";
}
.icon-underline:before {
	content: "\e067";
}
.icon-italic:before {
	content: "\e068";
}
.icon-pilcrow:before {
	content: "\e069";
}
.icon-share:before {
	content: "\e06a";
}
.icon-google:before {
	content: "\e06b";
}
.icon-google-plus:before {
	content: "\e06c";
}
.icon-facebook:before {
	content: "\e06d";
}
.icon-facebook-2:before {
	content: "\e06e";
}
.icon-twitter:before {
	content: "\e06f";
}
.icon-twitter-2:before {
	content: "\e070";
}
.icon-feed:before {
	content: "\e071";
}
.icon-feed-2:before {
	content: "\e072";
}
.icon-warning-2:before {
	content: "\e073";
}
.icon-home-3:before {
	content: "\e074";
}
.icon-plus-alt:before {
	content: "\e075";
}
.icon-minus-alt:before {
	content: "\e076";
}
.icon-left-quote:before {
	content: "\e077";
}
.icon-right-quote:before {
	content: "\e078";
}
.icon-left-quote-alt:before {
	content: "\e079";
}
.icon-right-quote-alt:before {
	content: "\e07a";
}
.icon-at:before {
	content: "\e07b";
}
.icon-gift-2:before {
	content: "\e07c";
}
.icon-thumbs-up-3:before {
	content: "\e07d";
}
.icon-thumbs-down:before {
	content: "\e07e";
}
.icon-trophy-2:before {
	content: "\e07f";
}
.icon-comment-alt2-stroke:before {
	content: "\e080";
}
.icon-comment-alt2-fill:before {
	content: "\e081";
}
.icon-mail:before {
	content: "\e082";
}
.icon-tag-fill:before {
	content: "\e083";
}
.icon-tag-stroke:before {
	content: "\e084";
}
.icon-font:before {
	content: "\e085";
}
.icon-tags:before {
	content: "\e086";
}
.icon-tag:before {
	content: "\e087";
}
.icon-barcode:before {
	content: "\e088";
}
.icon-qrcode:before {
	content: "\e089";
}
.icon-radio-unchecked:before {
	content: "\e08a";
}
.icon-radio-checked:before {
	content: "\e08b";
}
.icon-checkbox-unchecked:before {
	content: "\e08c";
}
.icon-checkbox-partial:before {
	content: "\e08d";
}
.icon-checkbox-checked:before {
	content: "\e08e";
}
.icon-link-2:before {
	content: "\e08f";
}
.icon-denied:before {
	content: "\e090";
}
.icon-coffee:before {
	content: "\e091";
}
.icon-arrow-left-alt1:before {
	content: "\e092";
}
.icon-arrow-right-alt1:before {
	content: "\e093";
}
.icon-arrow-up-alt1:before {
	content: "\e094";
}
.icon-arrow-down-alt1:before {
	content: "\e095";
}
