{% extends 'deals/base.html' %}

{% block title %}About BOD & its working{% endblock title %}

{% block main_content %}
    <div class="large-9 columns" id="content">
        <h2>Coming soon</h2>
    </div>
{% endblock main_content %}