{% extends 'deals/base.html' %}

{% block main_content %}
    <div class="large-9 columns" id="content">
        <div id="login_form_wrap" class="login_reg_form">
            <h5>Login</h5>
            <form action="/login" method="POST" id="login_form">
            {% csrf_token %}
                {% if login_error %}
                    <p class="login_reg_error">Username and/or password doesn't match</p>
                {% endif %}
                <label for="form_username">Username</label>
                <input type="text" id="form_username" name="username">
                <label for="form_password">Password</label>
                <input type="password" id="form_password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
        <div id="register_form_wrap" class="login_reg_form">
            <h5>Signup</h5>
            {% if reg_error %}<span class="login_reg_error">Correct errors highlighted in red and try again.</span>{% endif %}
            <form enctype="multipart/form-data" action="/register" method="POST" id="register_form">
                {% csrf_token %}
                {% for field in reg_form %}
                    <div class="form_fields">
                    <label for="{{ field.auto_id }}">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                    {{ field.errors }}
                    {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
{% endblock main_content %}