{% extends 'deals/base.html' %}

{% block title %}Registration success{% endblock title %}

{% block main_content %}
    <div class="large-12 columns" id="content">
        <p>Thanks for Choosing to be part of the community. Join us in making shopping cheaper, easier. <a href="{% url 'index' %}">Start Here</a> </p>
    </div>
{% endblock main_content %}